In [1]:
import pandas as pd
import requests
import datetime
import urllib.request
import os

Download

In [2]:
for ids in range(1, 28):
    url = f"https://www.star.nesdis.noaa.gov/smcd/emb/vci/VH/get_TS_admin.php?country=UKR&provinceID={ids}&year1=1981&year2=2024&type=Mean"
    response = requests.get(url)
    if response.status_code == 200:
        if not os.path.exists('vhi'):
            os.mkdir('vhi')
        date_now = datetime.datetime.now().strftime("%Y-%m-%d_%H-%M-%S")
        vhi_url = urllib.request.urlopen(url)
        file_name = f'vhi/vhi_id_{ids}_{date_now}.csv'
        out = open(file_name, 'wb')
        out.write(vhi_url.read())
        out.close()
        print(f"Id {ids} +")
    else:
        print(f"Success")
        break

Id 1 +
Id 2 +
Id 3 +
Id 4 +
Id 5 +
Id 6 +
Id 7 +
Id 8 +
Id 9 +
Id 10 +
Id 11 +
Id 12 +
Id 13 +
Id 14 +
Id 15 +
Id 16 +
Id 17 +
Id 18 +
Id 19 +
Id 20 +
Id 21 +
Id 22 +
Id 23 +
Id 24 +
Id 25 +
Id 26 +
Id 27 +

Даю імена та додаю у фрейм

In [ ]:
folder = 'vhi'
files = os.listdir(folder)

df_all = []

for file_name in files:
    headers = ['Year', 'Week', 'SMN', 'SMT', 'VCI', 'TCI', 'VHI', 'empty']
    df = pd.read_csv(f'{folder}/{file_name}', header=1, names=headers, skiprows=1)

    df = df.drop(columns=['empty'], errors='ignore')

    df['VHI'] = pd.to_numeric(df['VHI'], errors='coerce')
    df = df[df['VHI'] != -1].dropna()

    parts = file_name.split("_")
    if len(parts) > 2 and parts[2].isdigit():
        df['area'] = int(parts[2])
    else:
        print(f"Area Error in {file_name}")
        continue 

    df_all.append(df)

df_all = pd.concat(df_all, ignore_index=True)

df_all = df_all.dropna(axis=1, how='all')

print(df_all)

       Year  Week    SMN     SMT    VCI    TCI    VHI  area
0      1982   2.0  0.063  261.53  55.89  38.20  47.04    10
1      1982   3.0  0.063  263.45  57.30  32.69  44.99    10
2      1982   4.0  0.061  265.10  53.96  28.62  41.29    10
3      1982   5.0  0.058  266.42  46.87  28.57  37.72    10
4      1982   6.0  0.056  267.47  39.55  30.27  34.91    10
...     ...   ...    ...     ...    ...    ...    ...   ...
58990  2024  48.0  0.135  278.17  55.23  11.86  33.55     9
58991  2024  49.0  0.133  277.08  57.71  10.86  34.29     9
58992  2024  50.0  0.130  276.49  59.45   8.68  34.07     9
58993  2024  51.0  0.128  276.45  62.53   5.55  34.04     9
58994  2024  52.0  0.129  276.48  66.13   3.71  34.92     9

[58995 rows x 8 columns]

 індекси

In [5]:
dict_areas = {1: 22, 2: 24, 3: 23, 4: 25, 5: 3, 6: 4, 7: 8, 8: 19, 9: 20, 10: 21, 11: 9, 13: 10, 14: 11, 15: 12,
              16: 13, 17: 15, 18: 14, 19: 16, 21: 17, 22: 18, 23: 6, 24: 1, 25: 2, 26: 7, 27: 5}
df_all["area"] = df_all["area"].replace(dict_areas)
df_all.to_csv(f'vhi/df_all.csv', index=False)

print(df_all)

       Year  Week    SMN     SMT    VCI    TCI    VHI  area
0      1982   2.0  0.063  261.53  55.89  38.20  47.04    17
1      1982   3.0  0.063  263.45  57.30  32.69  44.99    17
2      1982   4.0  0.061  265.10  53.96  28.62  41.29    17
3      1982   5.0  0.058  266.42  46.87  28.57  37.72    17
4      1982   6.0  0.056  267.47  39.55  30.27  34.91    17
...     ...   ...    ...     ...    ...    ...    ...   ...
58990  2024  48.0  0.135  278.17  55.23  11.86  33.55    20
58991  2024  49.0  0.133  277.08  57.71  10.86  34.29    20
58992  2024  50.0  0.130  276.49  59.45   8.68  34.07    20
58993  2024  51.0  0.128  276.45  62.53   5.55  34.04    20
58994  2024  52.0  0.129  276.48  66.13   3.71  34.92    20

[58995 rows x 8 columns]

 VHI обл min max

In [6]:
def vhi(area, year):
    return df_all[(df_all["area"] == area) & (df_all["Year"] == year)]['VHI']

def vhi_min(area, year):
    return df_all[(df_all["area"] == area) & (df_all["Year"] == year)]['VHI'].min()

def vhi_max(area, year):
    return df_all[(df_all["area"] == area) & (df_all["Year"] == year)]['VHI'].max()

df_all['Year'] = df_all['Year'].astype(int)

In [7]:
vhi(6, 2005)

44846    58.56
44847    58.17
44848    57.93
44849    56.31
44850    55.12
44851    55.53
44852    55.52
44853    56.71
44854    58.18
44855    58.16
44856    56.41
44857    54.59
44858    52.91
44859    51.27
44860    48.86
44861    47.07
44862    53.93
44863    56.75
44864    53.90
44865    59.28
44866    59.89
44867    61.36
44868    61.12
44869    60.61
44870    60.48
44871    59.96
44872    60.65
44873    63.13
44874    61.80
44875    64.25
44876    67.13
44877    67.95
44878    69.03
44879    67.92
44880    63.81
44881    60.01
44882    58.51
44883    56.77
44884    57.30
44885    55.84
44886    50.05
44887    48.04
44888    47.48
44889    47.63
44890    47.35
44891    45.18
44892    46.77
44893    48.25
44894    48.50
44895    49.37
44896    50.15
Name: VHI, dtype: float64

In [8]:
vhi_min(6, 2005)

np.float64(45.18)

In [9]:
vhi_max(6, 2005)

np.float64(69.03)

VHI діапазон років

In [10]:
def vhi_range(year_min, year_max, areas):
    if not isinstance(areas, list) or not areas:
        return print('Empty or not a list')
    return df_all[(df_all['Year'] >= year_min) & (df_all['Year'] <= year_max) & (df_all['area'].isin(areas))][['Year', 'VHI', 'area']]

In [11]:
vhi_range(2000, 2005, [5, 2, 3])

       Year    VHI  area
40235  2000  27.46     3
40236  2000  30.88     3
40237  2000  33.00     3
40238  2000  36.72     3
40239  2000  39.12     3
...     ...    ...   ...
47077  2005  36.55     2
47078  2005  38.59     2
47079  2005  40.55     2
47080  2005  41.59     2
47081  2005  42.08     2

[584 rows x 3 columns]

Екстремальні посухи + відсоток областей

In [ ]:
def extreme_droughts(obl):
    df_drouhts = df_all[(df_all['VHI'] <= 15) & (df_all['VHI'] != -1)]
    grouped = df_drouhts.groupby('Year')['area'].nunique()
    result = grouped[grouped > (25 * obl / 100)].reset_index()
    return result

In [13]:
extreme_droughts(5)

   Year  area
0  1986     2
1  1993     2
2  2000     5
3  2007     5

In [ ]:
def moderate_droughts(obl, min=15, max=40):
    df_drouhts = df_all[(df_all['VHI'] >= min) & (df_all['VHI'] <= max)]
    grouped = df_drouhts.groupby('Year')['area'].nunique()
    count_areas = df_all['area'].nunique()
    result = grouped[grouped > (count_areas * obl / 100)].reset_index()
    return result

In [15]:
moderate_droughts(20)

    Year  area
0   1982    23
1   1983    23
2   1984    23
3   1985    23
4   1986    23
5   1987    23
6   1988    23
7   1989    23
8   1990    23
9   1991    22
10  1992    23
11  1993    23
12  1994    23
13  1995    23
14  1996    23
15  1997    20
16  1998    16
17  1999    23
18  2000    23
19  2001    19
20  2002    20
21  2003    18
22  2004     6
23  2005    14
24  2006    19
25  2007    20
26  2008    20
27  2009    23
28  2010    21
29  2011    19
30  2012    17
31  2013    22
32  2014    19
33  2015    23
34  2016    21
35  2017    20
36  2018    23
37  2019    23
38  2020    21
39  2021    21
40  2022    21
41  2023    21
42  2024    21